name: MLOps CI Pipeline

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

  workflow_dispatch:

  schedule:
    - cron: "0 2 * * 0" # every Sunday at 2 AM UTC

jobs:
  test-and-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate raw dataset
        run: |
          python -m src.data_loading

      - name: Create train/val/test splits
        run: |
          python -m src.split

      - name: Run tests
        run: |
          python -m pytest -q

      - name: Train & register model (MLflow)
        run: |
          python -m src.train_mlflow

  docker-build:
    needs: test-and-train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t house-price-api:latest .
